<?xml version="1.0"?>
<ruleset name="WordPress Project">
	<description>PHPCS configuration for WordPress projects using WPCS and PHPCompatibility.</description>

	<!-- Use WordPress Coding Standards and PHPCompatibility. -->
	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />

	<!-- Restrict PHPCS to PHP files only for this project. -->
	<arg name="extensions" value="php,php5,inc" />

	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibility"/>

	<!-- Project-wide excludes; adjust as needed. -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/.git/*</exclude-pattern>

  <!-- Class rules:
    - There can be more than one class in a file.
    - Classes filenames don't need to match class name. -->
  <rule ref="WordPress.Files.FileName.InvalidClassFileName">
    <severity>0</severity>
  </rule>
  <rule ref="Generic.Files.OneObjectStructurePerFile.MultipleFound">
    <severity>0</severity>
  </rule>
</ruleset>


